/*BLOCKS OF CARTS + ADAPTATION*/
.block_carts_products{
    display: flex;
    margin: 40px;
    max-width: 1280px;
    flex-wrap: wrap;
}
.products{
    width: 300px;
    height: 500px;
    margin: 50px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: border-color 0.3s ease;
}
@media (max-width: 750px) {
    .block_carts_products{
        margin: 0 auto;
        justify-content: center;
    }
    .products img{
        max-width: 100%;
    }

}
@media (max-width: 425px) {
    .block_carts_products{
        width: 340px;
    }
    .products{
        width: 340px;
        margin: 38px;
    }
    .products img{
        height: 200px !important;
    }
}

@media (max-width: 340px) {
    .block_carts_products{
        width: 250px;
    }
    .products{
        width: 250px;
        margin: 20px;
    }
    .products img{
        height: 180px !important;
    }
}
/*------------*/
/* SETTING OF HEARTS, WHICH ADD CART TO SELECTED */
.heart button{
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    position: relative;
    font-size: 30px;
    float: right;
    color: rgb(10, 10, 10);
}

.heart:hover button{
    color: rgb(243, 6, 6);
    transition: opacity 0.3s ease;
}
/*--------------*/

/* SETTINGS OF DATA PRODUCT IN BELOW CART */
.name_product{
    font-size: 15px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.search_failed{
    color: white;
    font-size: 30px;
    text-align: center;
}
.discount{
    max-width: 180px;
    height: 30px;
    background-color: #FFD700;
    float: left;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_reckon_discount{
    font-size: 17px;
    text-decoration: line-through;
}
.price{
    font-size: 24px;
}
.price.with-discount{
    color: red;
    font-size: 24px;
}
.data_product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.buy_products{
    float: right;
    padding-top: 43px;
}

.border{
  border-right: black 1px solid;
}
.main-index{
  display: flex;
}
/**/


@media (max-width: 1270px) {
    .block_carts_products{
        justify-content: center;
    }
}
@media (max-width: 934px) {
    .filter_and_catalog{
        flex-direction: column;
    }
    .filter {
    margin: 10px;
    }
}
@media (max-width: 850px) {
    .main-index{
        flex-direction: column-reverse;
    }
    .filter_and_catalog{
        flex-direction: row;
    }
}
@media (max-width: 450px) {
    .filter_and_catalog{
        flex-direction: column;
    }
}
