html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------------------------------------------------------------------------------*/
.main-block{
    display: flex;
}
.main-index{
    min-height: 100vh;
    flex: 1 1;
}
/*LOGO*/
.logo img{
    max-width: 100%;
}
/* BASE SETTINGS NAVBAR*/
.header-main{
    display: flex;
    background-color: #808000;
    justify-content: space-between;
}
.navbar-header li{
    list-style-type: none;
}
ul.navbar_ul {
    list-style-type: none;
}
.navbar-header a{
    text-decoration: none;
    color: #8B4513;
}
.navbar-header .navbar_links{
    margin: 19px;
    font-size: 26px;
}
.navbar_ul{
    display: flex;
}
.avatar-img{
    border-radius: 50%;
}
.seller_on_cart_product{

    font-size: 20px;
}
.count-item-basket{
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    color: black;
    margin-top: -5px;
}
@media (max-width: 1080px) {
    .header-main{
        max-width: 1280px;
    }
    .navbar-header{
        max-width: 1280px;
    }
}
@media (max-width: 835px) {
    .navbar-header .navbar_links{
        font-size: 20px;
    }
}
@media (max-width: 767px){
    .count-item-basket{
        color: white;
        font-weight: normal;
        flex-direction: column-reverse;
    }
    .navbar_ul{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}


/*Menu profile*/
.menu-sub-list{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    overflow: auto;
    max-height: 110px;
}
.menu-list-profile{
    font-size: 20px !important;
    margin: 9px
}
.links_profile_navbar{
    padding: 5px;
}
.links_profile_navbar:hover{
    background-color: black;
    transition: all 0.6s ease 0s;
}
body._pÑ .navbar_ul > li:hover .menu-sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0px, 0px);
}
@media (min-width: 767px){
    .menu-sub-list{
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
    }
}
/* logout link settings*/
.logout_link{
    display: inline-block;
    font-weight: 400;
    color: #dc3545;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid #dc3545;
    padding: 0.375rem 0.55rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
}
.logout_link:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}

.logout_link:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.logout_link:disabled {
    opacity: 0.65;
    pointer-events: none;
}
/* ----------------- */


/* Menu Burger */

.menu_icon{
    display: none;
}

@media (max-width: 767px) {
    .menu_icon{
        opacity: 1;
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 19px;
        cursor: pointer;
        margin: 0 0 0 14px;
        bottom: 7px;
        top: 50px;
        right: 25px;
    }
    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after {
        left: 0;
        transition: all 0.3s ease 0s;
        position: absolute;
        height: 10%;
        width: 100%;
        background-color: white;
    }
    .menu_icon::before,
    .menu_icon::after {
        content: "";
    }
    .menu_icon::before {
        top: 0;
    }
    .menu_icon::after {
        bottom: 0;
    }
    .menu_icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu_icon.__active_burger span{
        transform: scale(0) translate(0px, -50%);
    }
    .menu_icon.__active_burger::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu_icon.__active_burger::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .navbar-header{
        display: block;
        position: fixed;
        top: 0;
        left: -129%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
        z-index: 2;
    }
    .navbar-header.__active_burger{
        left: 0;
    }
    .navbar_ul > li:last-child{
        margin-bottom: 0;
        font-size: 40px !important;
    }
}

/*FOOTER*/

.footer__{
    width: 100%;
    height: 300px;
    background-color: chocolate;
    margin-top: auto;
}

.main_ul_footer{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 22px;
    padding: 5px;
}
.child_ul_footer{
    color: black;
    font-size: 17px;
    padding: 4px;
}
.child_ul_footer{
    list-style-type: initial;
}

@media (max-width: 300px){
    .footer__ img{
        max-width: 84%;
    }
    .child_ul_footer{
        list-style-type: none;
    }
    .child_ul_footer{
        padding: 10px;
    }
}

.packet_btn{
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
}


















































































