.pagination__navbar{
  background: #49505773;
  padding: 25px;
  border-radius: 3px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.pagination__lister{
  display: flex;
  list-style: none;
  justify-content: center;
}
.pagination__lister li{
  margin: 0 5px;
  background: #dde1e7;
  border-radius: 3px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  text-align: center;
}
.pagination__lister li a{
  font-size: 18px;
  text-decoration: none;
  color: #922ea5;
  height: 45px;
  width: 55px;
  display: block;
  line-height: 45px;
  background-color: #2a5b0b33;
}
.pagination__lister li:first-child a {
  width: 120px;
}
.pagination__lister li:last-child a {
  width: 120px;
}
.pagination__lister li.__active__pagination {
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.pagination__lister li.__active__pagination a {
  font-size: 17px;
  color: #6f6cde;
}
.pagination__lister li:first-child {
  margin: 0 15px 0 0;
}
.pagination__lister li:last-child {
  margin: 0 0 0 15px;
}





@media (max-width: 590px) {
      .pagination__lister{
          display: flex;
          list-style: none;
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          padding: 5px;
      }
      .pagination__lister li:first-child {
          margin: 0;
      }
      .pagination__lister li:last-child{
          margin: 0;
      }
      .pagination__lister li {
          margin: 5px;
      }
      .pagination__lister li:last-child a{
          width: 120px;
      }
}







