
.block_entering_profile{
  display: flex;
  justify-content: center;
  background-color: #f1e4e4;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -1px -3px 3px rgba(0, 0, 0, 0.1);
}
.main_login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registration_btn{
  float: right;
}

.input_block_login{
  padding: 15px;
}
.input_registration_form{
  padding: 6px;
}
.block_form_registration label{
  font-size: 20px;
}



@media (max-width: 390px) {
  .input_block_login{
    padding: 6px;
  }
}
