{% extends 'base.html' %}
{% load static %}
{% load carts_packet %}

{% get_packets request as packet %}

{% block title %}
  <title>
    товар
  </title>
{% endblock %}

{% block js %}
  <script src="{% static 'js/favorite.js' %}"></script>
  <script src="{% static 'js/packet/add_to_packet.js' %}"></script>
  <script src="{% static 'js/opinion/do_like.js' %}"></script>
  <script src="{% static 'js/opinion/delete_opinion.js' %}"></script>
{% endblock %}

{% block links_css %}
  <link rel="stylesheet" href="{% static 'icons/6687187-1594999590.jpg' %}">
  <link rel="stylesheet" href="{% static 'css/carts_products/cart_product.css' %}">
{% endblock %}

{% block content %}
    <div class="container_modal_popup_packet" id="modal_packet_popup">
        {% include 'modal_packet.html' %}
    </div>
<div class="page__cart_product" style="background-image: url('{% static 'icons/background.jpg' %}')">
  <div class="main_container_cart_product" >
  <div class="image_product">
    {% if products.discount %}
      <div class="discount">Скидка -{{products.discount}}%</div>
    {% else %}
      <div class="discount"></div>
    {% endif %}
    {% if products.image %}
    <img src="{{ products.image.url }}" alt="мышь"
        class="img_product">
    {% endif  %}
  </div>
  <div class="main_data_product">
    <div class="main-data">
      <span class="name_product">
        {{ products.name }}
      </span>
      <span class="name_product">
        <a href="{% url 'v1:reviews' products.slug %}" style="text-decoration: none">{{ count_all_opinions }} Отзывов</a>
      </span>
    </div>
    <div class="additionally_data_product">
      <div class="seller_block">Продавец: сайт</div>
      <div class="price_block_buy">
        <div class="price_product_">
          {% if products.discount %}
            <span class="discount_product">{{ products.price }}</span>
            <span class="price" style="color: red;">{{ products.sell_price }}</span>
          {% else %}
            <span class="discount_product"></span>
            <span class="price">{{ products.price }}</span>
          {% endif %}
          <span class="price">Есть в наличии: {{ products.count_product }}</span>
        </div>
        <div class="block_btn_packet">
          <div class="header_carts">
            <div class="heart">
              <button onclick="favorite_data('{{user.username}}', '{{products.id_product}}')"
                      class="btn_heart_favorite" {% if products.id_product in favorites %} style="color: red;" {% endif %}>&#9825;</button>
            </div>
          </div>
          <button class="btn btn-outline-primary add_packet_product"
            data-product-id="{{ products.id_product }}">
            В Корзину
          </button>
        </div>
      </div>
      <div class="block_delivery">
        <img src="{% static 'icons/domik.png' %}" alt="..." style="width: 24px; height: 24px">
        <span>Самовывоз</span>
      </div>
    </div>
  </div>
</div>
<hr>
  <div class="additionally_container_data_product">

  <div class="characteristics">
    <h3>Описание</h3>
    <p class="p_discriptions_product">
      {{ products.description }}
    </p>
  </div>

  <div class="opinions">
    <div class="block_modal_popup_delete_opinion dis_none">
      <div class="close_modal_popup_delete_opinion">
          <button class="close_popup_confirm_opinion_delete clear_btn_base_styles">X</button>
      </div>
      <div class="block_aware__sure">
          <span>Вы уверены, что хотите удалить отзыв ?</span>
      </div>
      <div class="btn_confirm__delete">
          {% csrf_token %}
          <button class="sure_delete_opinion clear_btn_base_styles"
                  data-product-slug="{{products.slug}}"
                  data-product-pk="{{products.pk}}">
              Yes
          </button>
      </div>
    </div>
    <h3 style="color: white">Отзывы</h3>
    <form action="{% url 'v1:reviews_create' %}" class="form_sender_opinion" method="post">
      {% csrf_token %}
      <label for="id_opinion"></label>
      <input type="hidden" name="id_product" value="{{ products.id_product }}">
      <input type="hidden" name="slug_product" value="{{ products.slug }}">
      <textarea name="message" cols="30" rows="4" placeholder="Введите отзыв" id="id_opinion"></textarea>
      <button class="btn btn-outline-primary sender_message">Отправить Отзыв</button>
    </form>
    {% for opinion in opinions %}
      <div class="store_opinions" style="margin: 4px">
      {% if opinion.user.image %}
        <img src="{{ opinion.user.image.url }}" alt="avatar"
            style="height: 40px; width: 40px" class="img_avatar_opinion">
      {% else %}
        <img src="{% static 'icons/1640528661_1-abrakadabra-fun-p-serii-chelovek-na-avu-1.png' %}" alt="avatar"
            style="height: 40px; width: 40px" class="img_avatar_opinion">
      {% endif %}

      <span class="nickname">{{ opinion.user.username }}.  </span>
      <span class="nickname">Продавец: сайт</span>
      <span class="data_added_opinion">{{ opinion.data_added }}</span>
      <hr>
      <p class="text_opinion">
        {{ opinion.review }}
      </p>
      <div class="appreciate_opinion">
        {% csrf_token %}
        <button class="like_btn d" onclick="like('{{user.username}}', '{{ products.id_product }}',
        '{{ opinion.pk }}', this)"
              {% for like in liked_objects %}
                {% if opinion.pk == like.review_id.pk %}
                  style="color: red;"
                {% endif %}
              {% endfor %} >
          &#x2764;
        </button>
        <span class="count_appreciate" id="count_likes_opinion">{{ opinion.likes }}</span>
      </div>
        {% if user == opinion.user %}
        <div class="block_delete__opinion">
          <button class="btn_delete_opinion">
            <img src="{% static 'icons/free-icon-recycle-bin-container-12960.png' %}"
                alt="recycle" style="width: 16px; height: 18px;">
          </button>
        </div>
        {% endif %}
    </div>
    {% endfor %}
  </div>

</div>
</div>

{% endblock %}
