{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    {% block links_css %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'icons/free-icon-shopping-basket-679713.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/support/btn_bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/modal_popup_packet.css' %}">
    <link rel="stylesheet" href="{% static 'css/notifications/validation.css' %}">
    {% block title %}
    {% endblock %}
</head>
<body>
<div class="page">
    <div class="main-header">
            <header class="header-main">
                <div class="logo">
                    <a href="{% url 'v1:index' category_slug='all' %}">
                        <img src="{% static 'icons/logo.png' %}" alt="inter" style="height: 100px; width: 240px">
                    </a>
                </div>
                <nav class="navbar-header">
                    <ul class="navbar_ul">
                        <li class="menu-list-profile dis_none show_only_mobile">
                            <a href='{% url "v1:information" %}' class="links_profile_navbar">
                                Информация
                            </a>
                        </li>
                        <li class="menu-list-profile dis_none show_only_mobile">
                            <a href="{% url 'v1:favorites' %}" class="links_profile_navbar">
                                Избранное
                            </a>
                        </li>
                        <li class="navbar_links main_link">
                            <a href="{% url 'v1:index' category_slug='all' %}"> Главная </a>
                        </li>

                        {% if not user.is_authenticated %}
                        <!-- <li class="navbar_links">
                            <a href="">Войти</a><a href="">|Регистрация</a>
                        </li> -->
                        {% endif %}
                        <li class="navbar_links">
                            <button class="packet_btn finalize_dis_none_packet">
                                <picture>
                                  <source media="(max-width: 768px)" srcset="{% static 'icons/white_packet.png' %}">
                                  <source media="(min-width: 769px)" srcset="{% static 'icons/free-icon-shopping-cart-of-checkered-design-34627.png' %}">
                                  <img src="{% static 'icons/free-icon-shopping-cart-of-checkered-design-34627.png' %}"
                                     style="width: 22px; height: 22px" alt="icon" class="img_packet__navbar">
                                </picture>

                                <span class="count-item-basket" id="total_price_all_packet">{{packet.total_quantity}}</span>
                            </button>
                        </li>
                        <li class="navbar_links_profile">
                            {% if user.is_authenticated %}
                            <!-- <a href=">
                                {% if not user.image %}
                                <img src="{% static 'icons/1640528661_1-abrakadabra-fun-p-serii-chelovek-na-avu-1.png' %}"
                                     style="width: 45px; height: 45px" class="avatar-img" alt="...">
                                {% else %}
                                <img src="{{ user.image.url }}"
                                     style="width: 45px; height: 45px" class="avatar-img" alt="...">
                                {% endif %}
                            </a> -->
                            <ul class="menu-sub-list">
                                <li class="menu-list-profile">
                                    <a href="#" class="links_profile_navbar">
                                        {{user.username}}
                                    </a>
                                </li>

                                <li class="menu-list-profile">
                                    <a href="{% url 'v1:favorites' %}" class="links_profile_navbar">
                                        Избранное
                                    </a>
                                </li>
                                <li class="menu-list-profile">
                                    <a href='{% url "v1:information" %}' class="links_profile_navbar">
                                        Информация
                                    </a>
                                </li>
                                <!-- <li class="menu-list-profile">

                                </li> -->
                            {% endif %}
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="menu_icon">
                    <span></span>
                </div>
            </header>
        </div>

{% include 'notifications/messages_notifications.html' %}
{% block content %}
{% include 'notifications/validation.html' %}
 {% block navbar %}
 {% endblock %}

{% endblock %}
    <div class="main-footer">
            <footer class="footer__">
                <ul class="main_ul_footer">
                    <li>ИНТЕР
                        <ul class="child_ul_footer">
                            <li>Вакансии</li>
                            <li>Новости</li>
                            <li>О нас</li>
                            <li>Сеть магазинов</li>
                            <li>Контакты</li>
                        </ul>
                    </li>
                    <li>Информация
                        <ul class="child_ul_footer">
                            <li>Базисный сайт</li>
                            <li>Портфолио</li>
                            <li>Рыбаков А.А.</li>
                            <li>Вопросы и ответы</li>
                            <li>Условия сайта</li>
                        </ul>
                    </li>
                </ul>
                <div class="logo">
                    <img src="{% static 'icons/logo.png' %}" alt="inter" style="height: 100px; width: 240px">
                </div>
            </footer>
        </div>
</div>

<script src="{% static 'js/jquery/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/change_navbar.js' %}"></script>
<script src="{% static 'js/modal_filter_catalog.js' %}"></script>
<script src="{% static 'js/tab_profile.js' %}"></script>
<script src="{% static 'js/message/message_profile.js' %}"></script>

{% block js %}
{% endblock %}
</body>
</html>
