{% load static %}
{% load get_orders %}

{% get_orders request as orders %}


{% for order in orders %}

<div class="carts_on_sell">
                <img src="{{ order.product.image.url }}" alt="..." style="height: 90px; width: 130px;"
                class="img_product_profile">
                <div class="data_cart_product">
                    <span>{{ order.name }}</span>
                    <span>{{ order.quantity }}.00 шт</span>
                    <span>{{ order.product.sell_price }}$/1шт</span>
                </div>
                <div class="output_price_product">
                    <span class="">{{order.products_price}}$</span>
                </div>
                <div class="status">
                    <span style="height: 58px">{{ order.created_timestamp }}</span>
                    <span style="font-size: 20px">Статус: {{ order.order.status }}</span>
                </div>
</div>

{% endfor %}
