.errorBlock_validation{
    background-color: #8b6161;
    color: #e5d4d4;
    border: 1px solid #c97878;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 240px;
    height: 90px;
}
.errorBlock_validation_position{
    position: relative;
    z-index: 4;
}

.messages_login_registration_position{
    position: absolute;
    left: 50%;
}
.messages_login_registration{
    background-color: #40b22e;
    color: #181313;
    border: 1px solid #e86b6b;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.dis_none{
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

.clear_btn_base_styles{
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
}
.close_message_success_btn{
    float: right;
}

.added_packet{
    position: fixed;
    left: 50%;
    top: 21%;
    width: 95px;
    height: 34px;
    transform: translate(-50%, -50%);
    background-color: #44fc2b;
    color: #100909;
    font-size: 18px;
    transition: all 1s ease 0.5s;
}

.block_modal_popup_delete_opinion{
    position: absolute;
    left: 50%;
    background-color: #e84545;
    border-radius: 2px;
    border: 1px black solid;
    width: 310px;
    padding: 5px;
    z-index: 3;
}
.close_modal_popup_delete_opinion button {
    font-size: 20px;
}
.close_modal_popup_delete_opinion{
    float: right;
}
.block_aware__sure{
    text-align: center;
    font-size: 24px;
}
.btn_confirm__delete:hover{
    background-color: #3a3636;
     transition: all 0.2s ease 0.2s;
}
.btn_confirm__delete{
    display: flex;
    justify-content: center;

}

.btn_confirm__delete span{
    font-size: 24px;
    text-align: center;
}


.block_aware__sure {
    text-align: center;
    font-size: 24px;
    margin: 100px 4px 0px 5px;
}

.btn_confirm__delete {
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px 0px;
}

.btn_confirm__delete button {
    font-size: 25px;
}

@media (max-width: 650px) {
    .block_modal_popup_delete_opinion {
        position: relative;
        max-width: none;
        width: 210px;
        left: auto;
    }
}
